target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/load-into-image.properties
/nbproject/private/config.properties

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Node / PDF generation ###
node_modules/
package-lock.json

### Environment & Secrets ###
.env
.env.local
*.key
*.pem
